/* root */
:root {
  --dark: #555B6E;
  --green-1: #89B0AE;
  --green-2: #BEE3DB;
  --light: #FAF9F9;
  --pink: #D5B0AC;
}

/* universal */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* overall element styling */
body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header,
main,
footer {
  padding: 15px;
}

ul {
  list-style-type: none;
}
li {
  display: inline-block;
}
/* specifically header/footer links */
li a {
  text-decoration: none;
  font-size: 18px;
  color: black;
}
li a:hover {
  border: 5px solid var(--green-1);
  color: var(--pink);
  text-decoration: underline;
}

h1, h2 {
  padding: 15px;
}

/* wireframe border */
.demo {
  border: 1px solid black;
}

/* header */
header {
  background-color: var(--light);
  border-bottom: 5px solid var(--green-1);
}
.nav {
  position: absolute;
  right: 5%;
  top: 3%;
}
.nav-link {
  margin: 0 15px;
  padding: 42px 15px;
  background-color: var(--green-2);
}

/* main */
main {
  background-color: var(--green-2);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* section */
section {
  justify-content: center;
}

/* about section */
.about {
  width: 100%;
  margin-bottom: 15px;
}
.about-title {
  position: absolute;
  border-bottom: 5px dotted var(--green-1);
}
.about-content {
  display: flex;
  justify-content: center;
  margin-left: 100px;
  border: 5px solid var(--green-1);
  background-color: var(--light);
}
.about-img {
  margin: 15px;
}
.about-desc {
  padding: 20px;
}

/* work section */
.work {
  margin-top: 15px;
}
.work-title {
  position: absolute;
  border-bottom: 5px dotted var(--green-1);
}
.work-projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: 92px;
  border: 5px solid var(--green-1);
  background-color: var(--light);
}
.project {
  height: 350px;
  margin: 20px;
  border: 5px solid var(--green-1);
  background-image: url("../images/image-1.jpg");
  background-size: cover;
}
/* first project is larger than others*/
.project-1 {
  flex: 1 0 85%;
}
/* other projects */
.project-other {
  flex: 0 0 22%;
}
.project h3, .project p {
  text-align: left;
  margin-right: 50px;
  padding-left: 10px;
  background-color: var(--pink);
}
.project h3 {
  margin-top: 265px;
  padding-top: 10px;
}
.project p {
  padding-bottom: 10px;
}

/* footer */
footer {
  position: relative;
  bottom: 0%;
  background-color: var(--dark);
  color: var(--light);
}
.contact-list {
  position: absolute;
  left: 5%;
  bottom: 40%;
  margin-left: 115px;
}
.contact-link {
  margin: 0 15px;
  padding: 38px 15px;
  background-color: var(--green-2);
}